<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="change_password" method="POST">
        {% csrf_token %}
        <input type="text" name="email" , value="{{email}}" readonly>
        <input type="text" value="{{msg}}" style="display:none;" name="otp_ver" readonly>
        <input type="text" name="otp">
        <input type="password" name="password">
        <button type="submit"> submit</button>
    </form>

</body>

</html>